footer {
  padding: 20px 0;
  background-color: rgb(22, 111, 212);
  text-align: center;
  color: white;
}
.about-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: .6rem;
  text-align: left;
}
.about-info div:first-child {
  box-sizing: border-box;
  width: 50%;
  padding-left: 5vw;
}
.about-info div:nth-child(2) {
  box-sizing: border-box;
  width: 50%;
  padding-left: 5vw;
}
.about-info div:last-child {
  width: 100%;
  margin-top: 1rem;
  padding-left: 5vw;
}
.about-info a {
  color: white;
  text-decoration: none;
}
