header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  height: clamp(60px, 8vw, 75px);
  line-height: 60px;
}
header h1 {
  position: absolute;
  visibility: hidden;
}
header div {
  height: 100%;
}
header img {
  height: 100%;
}
.mobile-phone {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 160px;
}
.mobile-phone img{
  height: 60px;
}
.mobile-phone span {
  font-size: 40px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 2px;
  background-color: rgb(22, 111, 212);
  font-size: 1rem;
  color: #fff;
}
.nav label {
  cursor: pointer;
  line-height: 100%;
}

.mobile-nav {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 250px;
  border-radius: 5px;
  background-color: rgb(22, 111, 212);
  font-size: 1rem;
  color: #fff;
}

.nav-active {
  color: red;
}
#nav label {
  padding: .5rem;
}