.about-box {
  margin: 1rem 0 1rem;
  padding: .2rem 1rem;
  border-radius: 10px;
  background-color: rgb(155, 235, 235);
}
.about-box p:first-child {
  font-size: 1rem;
}
.about-box p:not(:first-child) {
  text-indent: 1.5em;
  font-size: .8rem;
}

 /* 微信公众号 */
.wx-gzh {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: .8rem;
}

.wx-gzh img {
  width: 30%;
  margin: .5rem auto 0;
}
.wx-gzh p {
  width: 100%;
  margin: .5rem 0;
}