main {
  display: flex;
  width: 500%;
}

main > div {
  visibility: hidden;
  width: 100%;
}

main input:checked + div {
  visibility: visible;
  transition: transform calc(var(--offsetx) * 1s) linear;
  transition-delay: calc(var(--offsetx) * (1 - 1 / var(--offsetx))* -1s);
  transform: translateX(calc(var(--offsetx) * -100%));
}
.home {
  width: 100%;
}
.home-title {
  width: 100%;
  height: clamp(168px, 17.5vw, 300px);
  background: url(../../images/home/home-title.png);
  background-size: contain;;
}
.home-title > div {
  padding: clamp(10px, 3vw, 50px) 0 0 clamp(13px, 4vw, 64px);
}
.home-title img {
  width: clamp(300px, 25vw, 500px);
}
.keyword {
  display: flex;
  justify-content: space-around;
  width: clamp(300px, 25vw, 500px);
  padding-top: 10px;
  font-size: .8rem;
  color: white;
}
.production-dispaly {
  width: 100%;
}
.sumary {
  padding: 1.4rem 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  color: red;
}
.production-dispaly .images {
  display: flex;
  justify-content: space-around;
}
.images img {
  width: 22%;
  flex: 1 1;
}