.introduction .introduction-introduce {
    width: 100%;
}
.introduceWrapper {
  width: 95%;
  margin: 0 auto;
}
.introduction .introduction-h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    color: red;
    margin: .8rem 0;
}
.introduction .companyItem {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.6rem;
}
.introduction .companyItem2-img {
    float: right;
    width: 240px;
    width: clamp(240px, 50%, 660px);
    margin-left: .6rem;
    margin-top: .5rem;
}
.companyItem p {
  text-indent: 2em;
  font-size: .9rem;
  line-height: 1.6rem;
  margin: 0;
}


.imgShowBox1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgShowBox1 .imgShowBox1-div {
    width: 45%;
    width: clamp(170px, 18vw, 270px);
    margin-bottom: 1rem;
}
.imgShowBox1 .imgShowBox1-img {
    width: 100%;
}
.introduction-h3 {
    text-align: center;
}
.imgShowBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: flex-start;
}
.imgShowBox2 .imgShowBox2-div {
    width: 45%;
    width: clamp(170px, 18vw, 270px);
    margin-bottom: .5rem;
}
.imgShowBox2 .imgShowBox2-img {
    width: 100%;
}
.imgShowBox2 .imgShowBox2-text {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
}
.imgShowBox3Row {
    display: flex;
    justify-content: space-between;
}
.imgShowBox3Row .imgShowBox3-img {
    width: 30%;
}