.introduction .introduction-introduce {
    width: 100%;
    height: clamp(168px, 17.5vw, 300px);
}
.introduction .introduction-h2 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    color: red;
}
.introduction .companyItem {
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;
}
.introduction .companyItem2-img {
    float: right;
    width: 50%;
    margin-left: 1rem;
}
.imgShowBox1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.imgShowBox1 .imgShowBox1-img {
    width: 50%;
    margin-left: 1rem;
}
.introduction-h3 {
    text-align: center;
}
.imgShowBox2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.imgShowBox2 .imgShowBox2-img {
    width: 50%;
    margin-left: 1rem;
}
.imgShowBox3Row {
    display: flex;
    justify-content: space-between;
}
.imgShowBox3Row .imgShowBox3-img {
    width: 30%;
}